/* page */
html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
/* default color of links */
a {
    color: #1d3552;
}
/* margin of 5px */
.margin-left {
    margin-left: 5px;
}

/*** navbar ***/
/* expand navbar*/
.container {
    max-width: 2000px;
}
/* primary background color (dark blue) */
.bg-primary {
    background-color: #1d3552 !important;
    color: #ffffff !important;
}
/* style of logout button */
.btn {
    background-color: #ef9b15;
    border-color: #ef9b15;
    color: #2c3e50;
    font-weight: bold;
}
/*** filter ***/
/* dropdowns */
.col-2 {
    padding-right: 20px;
    padding-left: 33px;
}

.db-filter-dropdown {
    width: 300px;
    margin-right: 25px;
    margin-left: 25px;
}
.db-filter-dropdown  > div{
    width: 300px;
    margin-left: 25px;
    margin-right: 25px;
}
.margin-xl {
    margin-left: 400px;
}

/* margin of slider years*/
#map-container {
    margin: 0;
}

/*** map container ***/
.justify-content-center {
    justify-content: left !important;
    margin-left: 40px;
    min-height: 650px;
}
/*** panel container ***/
.justify-content-center #undefined-parent {
    justify-content: right !important;
    margin-left: 2%;
}
/* detail panel*/
#textcontainer{
    background-color: rgba(1, 91, 150, 0.05);
    width: 350px;
    height: 490px;
    margin: 0px !important;
    padding: 1%;
}
/* font size of link to website */
#link {
    font-size: 18px;
}
/* padding of 10px to the top */
.padding-top-10 {
    padding-top: 10px !important;
}

/* newsfeed */
.p-news p{
    margin-bottom: -2px !important;
    font-size: 80% !important;
    width: 350px;
}
/* color of table border in news table */
.table-news tr td {
    border-color: #d6d6d6 !important;
    padding: 2% 0 1% 0;
}
.tab--selected.jsx-2137964197,
.tab.jsx-2137964197:last-of-type .tab--selected {
    border-top: 2px solid #ef9b15 !important;
}

/*** price prediction container ***/
#container-price-prediction {
    width: 50%;
    background-color: rgba(1, 91, 150, 0.05) !important;
    margin: 0 50px 0 50px;
    padding: 15px 0 15px 15px;
}
/* title in this container */
.header-2 {
    font-weight: bold;
    font-size: 18px;
}
/* container with input forms */
#container-input {
    margin-bottom: 5px;
}
/* input forms */
input{
    width: 40% !important;
    margin: 0 20px 10px 0 !important;
    border-radius: 2px;
}
/* drowdowns */
.prediction-dropdown {
    width: 40%;
    margin-bottom: 10px;
}
/* buttons */
.btn-blue {
    background-color: #1d3552;
    border-color: #1d3552;
    color: #ffffff;
    margin: 5px 5px 0 0;
}
.btn-grey {
    background-color: rgba(1, 91, 150, 0.05);
    border-color: #1d3552;
    margin: 5px 5px 0 20px;
}
