/* expand navbar*/
.container {
	max-width: 2000px;
}
/* primary background color (dark blue) */
.bg-primary {
	background-color: #1d3552 !important;
}
/* style of logout button */
.btn {
	background-color: #ef9b15;
	border-color: #ef9b15;
	color: #2c3e50;
	font-weight: bold;
}

/* filter (dropdown) container */
.db-filter-dropdown {
  width: 300px;
  margin-right: 25px;
  margin-left: 25px;
}
.db-filter-dropdown  > div{
  width: 300px;
  margin-left: 25px;
  margin-right: 25px;
}
.margin-xl {
  margin-left: 400px;
}

/* margin of slider years*/
#map-container {
	margin: 0;
}


/* detail panel*/
#textcontainer{
  background-color: rgba(1, 91, 150, 0.05);
  width: 350px;
  height: 490px;
  margin: 0px !important;
}

#textcontainer, html.A{
  padding-top: 25px !important;
  
}

/* newsfeed */
.p-news p{
  margin-bottom: -2px !important;
  font-size: 80% !important;
  width: 350px;
}



/* page */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}



